:root{
    --tracker-bg-color: #000000;
    --tracker-progress-color: #949393;
    --tracker-bg-secondary:  rgba(81, 135, 242, 0.95);
    --tracker-primary: #f0e948;
    --tracker-grey: #8CAAB9;
    --tracker-lighter-grey:  #F2F2F2;;
    
    /* line-height:; 117.857% */
    
}
