.daily-tracker{
    background: rgb(52,150,240);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(rgba(52,150,240,1) 0%, rgba(52,150,240,1) 39%, rgba(204,226,236,1) 75%, rgba(204,226,236,1) 89%, rgba(241,241,241,1) 96%);
}
