.circular-progress-bar {
  display: block;
  position: relative;
  /* margin: 15px auto; */
  /* background-color: red; */

}

.background-circle {
  fill: none;
  stroke: var(--tracker-progress-color);
}

.progress-circle {
  fill: none;
  stroke: white;
  transition: stroke-dashoffset 0.3s ease-in-out;
}
